:root {
	--margin: 8px;
}

* {
	font-family: 'Lexend', sans-serif;
}

html {
	scroll-snap-type: both mandatory;
}

body {
	margin: var(--margin);
}

h3 {
	scroll-snap-align: start;
	margin: 0;
	padding: 1em 0;
}

textarea {
	width: 100%;
	box-sizing: border-box;
}

article {
	width: min(100dvw, 100dvh);
	height: min(100dvw, 100dvh);
	scroll-snap-align: center;
	margin: 0 calc(-1 * var(--margin));
	max-width: calc(100% + 2 * var(--margin));
}
